# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual env
venv/
.env
.env.*

# Django
media/
staticfiles/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Celery
celerybeat-schedule

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage

# Docker
*.pid
